
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


body {
    color: #fff;
    background: var(--background-gradient);
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}